#mainSection {
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-top: 88px;
	z-index: 99;
}

/* Background of canvas */
.blocklySvg {
  background-color: #FDFDFD !important;
}

#blocklyDiv {
	background-color: none;
	height: 100%;
}

.blocklyToolboxDiv {
  background-color: #D3D3D3 !important;
}

.blocklyTreeRoot {
  padding-top: 1px !important;
}

.blocklyTreeLabel {
	font-family: 'Open Sans', sans-serif !important;
    font-weight: 700 !important; 
    font-size: 20px !important;
}

/* Forces things out-of-whack at the moment
.blocklyText {
	font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important; 
}
*/

.blocklyTreeRow {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 46px !important;
  display:block;
  border-bottom:0px;
  border-top:0px;
  margin-bottom:1px;
  margin-right:1px;
  background-color: #ffffff;
}

.blocklyTreeRow:hover {
  color: #ffffff!important;
}


/*
 1 = STart
 2 = CloudWatch verydark=#4A6032 dark=#4A6423 mid=#759C3F light=#A2C477
 3 = DynamoDB  verydark=#1B476E dark=#205A99 mid=#2D71B8 light=#5294CE
 4 = Route 53 verydark=#6A4326 dark=#9D5026, mid=#F48536
 5 = Notifications
 */

/* 490A3D 
   BD1550 
   E97F02
   F8CA00
   8A9B0F
   */
[id=":1"] > .blocklyTreeRow {
  border-left: 4px solid #490A3D;
  color: #490A3D;
}

[id=":1"] > .blocklyTreeRow:hover {
  background-color: #490A3D;
}

[id=":1"] > .blocklyTreeSelected {
  background-color: #490A3D !important;
}


[id=":2"] > .blocklyTreeRow {
  border-left: 4px solid #BD1550;
  color: #BD1550;
}

[id=":2"] > .blocklyTreeRow:hover {
  background-color: #BD1550;
}

[id=":2"] > .blocklyTreeSelected {
  background-color: #BD1550 !important;
}

[id=":3"] > .blocklyTreeRow {
  border-left: 4px solid #2D72B8;
  color: #2D72B8;
}

[id=":3"] > .blocklyTreeRow:hover {
  background-color: #2D72B8;
}

[id=":3"] > .blocklyTreeSelected {
  background-color: #2D72B8 !important;
}

[id=":4"] > .blocklyTreeRow {
  border-left: 4px solid #E97F02;
  color: #E97F02;
}

[id=":4"] > .blocklyTreeRow:hover {
  background-color: #E97F02;
}

[id=":4"] > .blocklyTreeSelected {
  background-color: #E97F02 !important;
}

[id=":5"] > .blocklyTreeRow {
  border-left: 4px solid #8A9B0F;
  color: #8A9B0F;
}

[id=":5"] > .blocklyTreeRow:hover {
  background-color: #8A9B0F;
}

[id=":5"] > .blocklyTreeSelected {
  background-color: #8A9B0F !important;
}

[id=":6"] > .blocklyTreeRow {
  border-left: 4px solid #FFB319;
  color: #FFB319;
}

[id=":6"] > .blocklyTreeRow:hover {
  background-color: #FFB319;
}

[id=":6"] > .blocklyTreeSelected {
  background-color: #FFB319 !important;
}

[id=":7"] > .blocklyTreeRow {
  border-left: 4px solid #E3292E;
  color: #E3292E;
}

[id=":7"] > .blocklyTreeRow:hover {
  background-color: #E3292E;
}

[id=":7"] > .blocklyTreeSelected {
  background-color: #E3292E !important;
}






/* Block styling */
/* Block text font */
.blocklyText, .blocklyMenuText, .blocklyHtmlInput, .blocklyIconMark, .blocklyTooltipText {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 700 !important; 
}

/* Remove block bevel - i.e. flat look' */
.blocklyPathLight {
  display: none !important;
}

.blocklyPathDark {
  display: none !important;
}


/* from code.org

.blocklyRectangularDropdownMenu .goog-menuitem-highlight, .blocklyRectangularDropdownMenu .goog-menuitem-hover {
  background-color: rgba(255, 255, 255, 0.35); }
.blocklyRectangularDropdownMenu:not(.blocklyGridDropdownMenu) {
  border-color: #545454 !important; }
.blocklyRectangularDropdownMenu.blocklyGridDropdownMenu {
  background-color: white !important;
  padding-top: 5px !important; }
  .blocklyRectangularDropdownMenu.blocklyGridDropdownMenu .goog-menuitem {
    display: inline-block;
    margin-left: 4px;
    margin-top: 4px; }
  .blocklyRectangularDropdownMenu.blocklyGridDropdownMenu .goog-menuitem-highlight, .blocklyRectangularDropdownMenu.blocklyGridDropdownMenu .goog-menuitem-hover {
    margin: -4px -4px 0 0 !important; }

*/

.desktop-tooltip, .desktop-tooltip-right {
  background: #676cff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 12px;
  max-width: 400px;
  opacity: 0.95;
  padding: 15px 30px 15px 15px;
  position: absolute;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.close-tooltip {
  overflow: hidden;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAq0lEQVR42o2Tyw3DIAxAuYZRWKQdtJkhtYTUNFkmG+TomtRECPmDJR+Cec8Q5BAoEPFB+aaMwQnaM1G+KFNo4BP/sVoShoH3HpekWUBL0sE15lKIlF9LosBw77EkLtx0kSTlO7uwIxmDO8kuwHnkmesPy4JgG+0OxhU+3v1BOPbmShQY+DqRn1SWWHDXQJbwYKiwI1lKIfFgqLAiKQP4rIXEJ5kGnjny6F/wD7W1c9UWRHvCAAAAAElFTkSuQmCC") -0px -0px no-repeat;
  background-size: contain !important;
  border: none;
  box-shadow: none;
  cursor: pointer;
  height: 8px !important;
  padding: 0;
  position: absolute;
  right: 10px;
  text-shadow: none;
  top: 10px;
  width: 8px !important;
  transition: all 0.5s ease-in-out;
  align-items: flex-start;
  text-align: center;
  color: white;
  margin: 0em;
  font: normal normal normal 13.3333330154419px/normal Arial;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-indent: 0px;
  display: inline-block;
}

.close-tooltip:hover {
  overflow: hidden;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAABA0lEQVR42s3YWw7CIBAFUBJX6sY05Yt0LWUD1qWUoPShabUPZu5VSOaPDOeDwMwYs1g358+t85dY1ydDWil3OiOdtblxxHTPiK1rKgZqwDTVcIbvVlFzzBRY1AITV1HfMVjUCuYTtY3BoHYwc9Td+evORhXqIKaPZJluvGWgcjDJ8MrNQIkxi7cBglJjkCgYBoGCYzQoGkaKomJkKDKGgLKwfxGAsvDKQYGytNpKgLLMQi/3naEVeUIMESXHEFB6DBCFwwBQeZh+n6WhcjHvz5WAkmAYRZ4ag8yBTYTIhcSoczIwKlRxjeLYSocCWulwsL//ybAhHJyA/GkcU+TAqpSR3gPoxdi+Al/ylgAAAABJRU5ErkJggg==") -0px -0px no-repeat;
}

.desktop-tooltip:after {
  border-bottom: 10px solid transparent;
  border-right: 10px solid #676cff;
  border-top: 10px solid transparent;
  content: "";
  display: block;
  left: -10px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
}